.container-wrapper {
  background-image: url("https://image.freepik.com/free-vector/sky-background-design_23-2148636462.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: content;
  max-width: 725px;
  height: 410px;
  margin: 10px;
  padding: 8px;
}
.search-container {
  margin: 20px 240px;

  * {
    box-sizing: border-box;
  }

  form.example input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: transparent;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196f3;
    color: transparent;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.example button:hover {
    background: #0b7dda;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
}
.container {
  margin: 20px 65px;
  padding: 1px;
  border: 1px;
  font-family: "Raleway", sans-serif;
  color: #168686;
}

h1 {
  color: #168686;
  text-align: center;
  margin: 30px 2px 2px;
  font-family: "Elsie Swash Caps", cursive;
}
h2,
h3 {
  font-size: 16px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

p {
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #168686;
}

.temperature {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
